html { min-height: 100% }
body { background: #f4f4f4; }

.label {
  background: #dedede;
  border-radius: .5rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.card.bordered {
  border-radius: 3px;
  box-shadow: 0px 0px 3px 5px #d4d4d4;
}

.card.beer-item {
  display: inline-block;
  margin-left: -19rem;
  max-width: 380px;
  position: absolute;
  width: 100%;
  &.animated { z-index: 1000; }
  .card-image img { height: 398px; }
}

.btn.btn-action.btn-xl {
  font-size: 2.5rem;
  height: 6rem;
  margin: 0 .5rem 0 .5rem;
  padding: 1.6rem 1.8rem;
  width: 6rem;
}

.keyboard-labels {
  color: #c5c5c5;
  margin-top: 2rem;
  text-align: center;
}

.btn-green {
  border-color: #32b643;
  color: #32b643;
  &:hover, &:focus, &:active {
    background: #32b643;
    border-color: #32b643;
    color: #fff;
  }
}

.btn-red {
  border-color: #e85600;
  color: #e85600;
  &:hover, &:focus, &:active {
    background: #e85600;
    border-color: #e85600;
    color: #fff;
  }
}

.btn-gray {
  border-color: #9a9a9a;
  color: #9a9a9a;
  &:hover, &:focus, &:active {
    background: #9a9a9a;
    border-color: #9a9a9a;
    color: #fff;
  }
}
