<div class="modal active">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-body pt-0">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/huntermeyer/random/belch-intro.png">
    </div>
    <div class="modal-footer">
      <span class="btn modal-close">Got It</span>
    </div>
  </div>
</div>

<script>
  $('.modal-close, .modal-overlay').click(function() {
    $('.modal.active').removeClass('active');
  });
</script>
