<section class="columns" style="margin-top:6rem;">
  <div class="column col-4 col-md-8 col-sm-12 centered" style="max-width:400px;">
    <div class="card bordered" style="border:none;">
      <div class="card-image">
        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/huntermeyer/random/belch-training.png?v=123">
      </div>
      <div class="card-body">
        <%= form_for @trainer do |f| %>
          <label class="form-label">First Initial and Last Name</label>
          <div class="input-group">
            <%= f.text_field :identifier, required: true, autofocus: true, placeholder: 'ex: hmeyer', class: 'form-input' %>
            <%= button_tag type: :submit, class: 'btn btn-primary input-group-btn' do %>
              <i class="icon icon-check"></i> Sign In
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
